.divPrincipal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15%;
    margin-top: 1%;
    height: 10%;
}

label{
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--secundary--color);
    padding-left: 3%;
    padding-right: 3%;
    color: white;
    font-style: italic;
}

.divFilters{
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin-left: 10%;
}

.Loading{
    font-size: 1rem;
    
}

@media screen and (min-device-width: 706px) and (max-device-width: 880px){
    label{
        font-size: 0.7rem;
    }

    .divFilters{
        margin-left: 0;
        gap: 10%;
    }


    .fil{
        font-size: 0.8rem;
    }
}

@media screen and (min-device-width: 524px) and (max-device-width: 705px){
    .divFilters{
        margin-left: 0;
    }

    label{
        font-size: 0.9rem;
    }


    .ord{
        font-size: 0.7rem;
    }

    .divFilters{
        width: 45%;
        gap: 10%;
    }

    .fil{
        height: 17px;
        width: 70px;
    }

    .filo{
        height: 17px;
        width: 70px;
    }
}

@media screen and (min-device-width: 424px) and (max-device-width: 523px){
    .divFilters{
        margin-left: 0;
    }

    label{
        font-size: 0.7rem;
    }


    .ord{
        font-size: 0.7rem;
    }

    .divFilters{
        width: 45%;
        gap: 10%;
    }

    .fil{
        height: 17px;
        width: 70px;
    }

    .filo{
        height: 17px;
        width: 70px;
    }

}

@media screen and (min-device-width: 370px) and (max-device-width: 423px){

    .divFilters{
        margin-left: 0;
    }

    label{
        font-size: 0.7rem;
    }


    .ord{
        font-size: 0.5rem;
    }

    .divFilters{
        width: 45%;
        gap: 10%;
    }

    .fil{
        height: 15px;
        width: 70px;
    }

    .filo{
        height: 15px;
        width: 70px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 369px){
    .divFilters{
        margin-left: 0;
    }

    label{
        font-size: 0.7rem;
    }


    .ord{
        font-size: 0.5rem;
    }

    .divFilters{
        width: 45%;
        gap: 10%;
    }

    .fil{
        height: 15px;
        width: 70px;
    }

    .filo{
        height: 15px;
        width: 70px;
    }
}






